:root {
  --white: #fff;
  --border-color: #d0d0d0;
  --poor-contrast-bg: #fbd0da;
  --poor-contrast-color: #5f071c;
  --good-contrast-bg: #fbf5d0;
  --good-contrast-color: #5f5207;
  --very-good-contrast-bg: #d2fbd0;
  --very-good-contrast-color: #0d5f07;
  --subtitle-color: #7e7d84;
  --text-color:#1e293b;
  --header-color:#e2e8f0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 999;
}

.sign-btn {
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  padding: 0 12px;
  height: 36px;
  background-color: #ffffff;
}

.img {
  width: 90px;
  margin-top: 10px;
}

.sign-btn:hover {
  background-color: #0c416f;
  color: #ffffff;
}

.border {
  border: rgba(0, 0, 0, 0.5) 1px solid;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

button {
  cursor: pointer;
  margin-top: -0.9%;
}

.title-2,
.subtitle-2 {
  text-align: left;
  margin-top: 5%;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 100px;
  padding: 20px;
}

.subtitle {
  color: var(--subtitle-color);
  font-weight: 400;
  font-size: 1.75rem;
  padding: 10px 0 100px;
}

.number-choice {
  font-size: 1.3rem;
  font-weight: 400;
  color: #363636;
  margin-left: 31%;
}

.number {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 46%;
  border-radius: 10px;
}

.warning {
  margin-left: 31%;
  padding-bottom: 5px;
}

.title-2 {
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 1%;
}

.title-3 {
  font-size: 1.3rem;
  margin-left: 10px;
  margin-top: 10px;
}

.text {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
  width: 80%;
  margin-left: 20px;
}

.text-4 {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
  width: 80%;
  margin-left: 20px;
  padding-bottom: 20px;
}

.li {
  margin-left: 20px;
}

.btn-primary {
  background-color: transparent;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: -10px;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary-2:hover {
  color: #0011ff;
}

.btn-primary-2 {
  background-color: transparent;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: -10px;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 20px;
}

.btn {
  background-color: transparent;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 24px;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 10px;
}

.border-2 {
  border: rgba(0, 0, 0, 0.5) 1px solid;
}

.icon {
  width: 30px;
  align-items: center;
  padding-bottom: 30px;
  margin-left: -5px;
}

.icon-2 {
  width: 30px;
  align-items: center;
  padding-bottom: 30px;
  margin-left: -5px;
}

.icon-3 {
  width: 30px;
  align-items: center;
  padding-bottom: 30px;
  margin-left: -5px;
}

.footer {
  color: #000000;
  padding: 20px;
  text-align: left;
  font-size: 0.8rem;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 20px auto; /* Adicionado para espaçar e centralizar os cards */
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
  justify-content: center;
  width: 100%;
}

.dark-theme {
  background-color: #ffffff;
  color: #000000;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.theme-toggle-btn {
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 10px;
  background-color: #ffffff;
  color: #816565;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-contrast{
  color:#000000;
  background-color: transparent;
  border: none;
  height: 25px;
  width: 200px;
  font-size: 17px;
  margin-left: -25px;
}

.btn-contrast:hover{
  color: #001d36;
  border-radius: 10px;
}

.contrast-average{
  margin-left: 20px;
}

